:root{
    --blue: #030A19; 
    --gray: rgb(112, 112, 112);
    --red: rgb(208, 9, 9);
    --lightgray: rgb(225, 225, 225);
}


*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    background-color: white;
    background-image: url('whiteBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

#all{
    display: grid;
    place-content: center;
    height: 100%;
}

.main{
    width: 500px;
    background-color: white;
    border-radius: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.134);
}

h1{
    color: black;
    font-weight: 600;
    font-size: 40px;
    border-bottom: 3px solid rgb(225, 225, 225);
    text-align: center;
    margin: 0;
    width: 100%;
    padding-block: 5px;
    margin-block: 5px;
}



#text{
    margin-inline: 30px;
    text-align: justify;
}

label{
    text-align: center;
    width: 100%;
}

input{
    font-size: 25px;
    padding: 5px;
    max-width: 200px;
    border: 3px solid rgb(225, 225, 225);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.2s ease-in-out;
}

input:focus{
    border-color: var(--blue);
}

#button{
    background-color: transparent;
    font-size: 25px;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid rgb(225, 225, 225);
    color: rgb(132, 132, 132);
    transition: all 0.2s ease-in-out;
}

#button:hover{
    color: white;
    background-color: var(--blue);
    text-decoration: none;
}

#button:focus{
    cursor: pointer;
    border-color: var(--blue);
    background-color:rgba(13, 190, 239, 0.293);
    color: var(--blue)
}

#retrimite{
    color:rgb(13, 190, 239)
}


p span{
    font-weight: bold;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#submain{
    display: flex;
    gap: 3px;
}