:root{
    --blue: #030A19; 
    --gray: rgb(112, 112, 112);
    --red: rgb(208, 9, 9);
    --lightgray: rgb(225, 225, 225);
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    font-family: var(--font);
    background-color: white;
    background-image: url('whiteBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


#logo{
    width: 200px;
    height: 100%;
    margin-block: 10px;
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 15px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.293);
    width: 45vh;
    position: fixed;
}

#form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
}

#main{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 600;
    color: black;
    font-size: 35px;
    border-block: 3px solid rgb(225, 225, 225);
    text-align: center;
    margin: 0;
    width: 100%;
    padding-block: 5px;
    margin-block: 5px;
}

#introdu{
    margin: 0;
    margin-top: 10px;
}

.label{
    color: rgb(125, 125, 125);
    align-self: flex-start;
    font-size: 22px;
}

.input{
    border:none;
    border-radius: 0.4em;
    padding-left: 5px;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    font-size: 25px;
    width: 11em;
}

#next{
    color: var(--blue);
    border: 3px solid var(--blue);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-inline: 15px;
    margin-top: 15px;
    transition: all 0.2s ease-in-out;
}
#next:hover{
    color: white;
    background-color: var(--blue);
    text-decoration: none;
}

#next:focus{
    cursor: pointer;
    border-color: var(--blue);
    background-color:rgba(32, 237, 241, 0.285);
    color: var(--blue)
}

#inapoi{
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}