body{
    font-family:sans-serif;
    background-color: rgb(232, 232, 232);
    color: lightgrey;
}

hr{
    height: 4px;
    border: none;
    background-color: rgb(17, 16, 75);
}

#top{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    background-image: linear-gradient(to bottom right,rgb(57, 57, 146),rgb(17, 16, 75));
    padding: 17px;
    padding-top: 20px;
    margin-top: -6px;
}

#nav{
    padding-top: 5px;
    width: 150vh;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

#cautare{
    font-size:25px;
    background-color: lightgrey;
    border-radius: 15px;
    border: none;
    height: 30px;
    padding-left: 0.5em;
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(22, 22, 22);


}

#searchButton{
    background-color: transparent;
    border:none;
    color:lightgray;
    margin-left: -5px;
}

a{
    color:lightgray;
    text-decoration: none;
}
a:hover{
    color:lightgray;
}

.link_nav:hover{
    text-decoration: underline;
}

#limba{
    display:flex;
    margin: -6px;
}
#romana, #rusa, #engleza{
    font-size: 20px;
    border: none;
    background-color: rgb(67, 67, 128);
    color:lightgray
}

#romana{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    margin-right: 5px;
}

#rusa{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#engleza{
    margin-right: 5px;
}

#rusa:hover{
    background-color: rgb(211, 13, 13);
    color: rgb(46, 46, 46)
}
#romana:hover{
    background-color:  rgb(0, 25, 212);
    color: rgb(46, 46, 46)
}
#engleza:hover{
    background-color: rgb(207, 207, 0);
    color: rgb(46, 46, 46)
}

/*nav-bar end*/

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 25px;
    padding-top: 10px;
    border-radius: 15px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.293);
}

#form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#main{
    display:flex;
    justify-content: center;
    padding-top: 3em;
}

.label{
    color: black;
    align-self: flex-start;
}

.input{
    border:none;
    border-radius: 0.4em;
    padding-left: 5px;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    font-size: 25px;
    width: 11em;
}

h1{
    color: black;
    font-size: 50px;
    border-bottom: 3px solid rgb(225, 225, 225);
    padding-inline: 55px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#inregistreazate{
    color: rgb(13, 190, 239);
    border: 2px solid rgb(13, 190, 239);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-inline: 15px;
    margin-bottom: 10px;
}
#inregistreazate:hover{
    background-color: rgba(43, 230, 227, 0.272);
}

#autentificare{
    font-size: 17px;
    padding: 5px;
    color: black;
    border-top: 3px solid rgb(225, 225, 225);
    padding-inline: 83px;
}


#autentificate{
    color: rgb(13, 190, 239) ;
}
#autentificate:hover{
    text-decoration: underline;
}