:root{
    --blue: #030A19; 
    --gray: rgb(112, 112, 112);
    --red: rgb(208, 9, 9);
    --lightgray: rgb(225, 225, 225);
    --lightblue: rgb(32, 238, 241);
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    background-image: url('whiteBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


#logo{
    width: 200px;
    height: 100%;
    margin-block: 10px;
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 25px;
    padding-top: 10px;
    border-radius: 15px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.293);
    width: 45vh;
}

#form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#main{
    height: 100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: fixed;
}



label{
    color: rgb(125, 125, 125);
    align-self: flex-start;
    font-size: 20px;
}

input{
    border:none;
    border-radius: 0.4em;
    padding-left: 5px;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    font-size: 25px;
    width: 11em;
}

#confirmare{
    color: var(--blue);
    border: 3px solid var(--blue);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-inline: 15px;
    margin-top: 15px;
    transition: all 0.2s ease-in-out;
}
#confirmare:hover{
    color: white;
    background-color: var(--blue);
    text-decoration: none;
}

#confirmare:focus{
    cursor: pointer;
    border-color: var(--blue);
    background-color: rgba(32, 237, 241, 0.285);
    color: var(--blue)
}

.line{
    height: 2.5px;
    background-color: var(--lightgray);
    width: 100%;
}