body{
    font-family:sans-serif;
    background-color: rgb(232, 232, 232);
    color: lightgrey;
}

hr{
    height: 4px;
    border: none;
    background-color: rgb(17, 16, 75);
}

#top{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    background-image: linear-gradient(to bottom right,rgb(57, 57, 146),rgb(17, 16, 75));
    padding: 17px;
    padding-top: 20px;
    margin-top: -6px;
}

#nav{
    padding-top: 5px;
    width: 150vh;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

#cautare{
    font-size:25px;
    background-color: lightgrey;
    border-radius: 15px;
    border: none;
    height: 30px;
    padding-left: 0.5em;
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(22, 22, 22);


}

#searchButton{
    background-color: transparent;
    border:none;
    color:lightgray;
    margin-left: -5px;
}

a{
    color:lightgray;
    text-decoration: none;
}
a:hover{
    color:lightgray;
}

.link_nav:hover{
    text-decoration: underline;
}

#limba{
    display:flex;
    margin: -6px;
}
#romana, #rusa, #engleza{
    font-size: 20px;
    border: none;
    background-color: rgb(67, 67, 128);
    color:lightgray
}

#romana{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    margin-right: 5px;
}

#rusa{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#engleza{
    margin-right: 5px;
}

#rusa:hover{
    background-color: rgb(211, 13, 13);
    color: rgb(46, 46, 46)
}
#romana:hover{
    background-color:  rgb(0, 25, 212);
    color: rgb(46, 46, 46)
}
#engleza:hover{
    background-color: rgb(207, 207, 0);
    color: rgb(46, 46, 46)
}

/*nav-bar end*/



#logo{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

#abc{
    display:flex;
    padding-inline: 20px;
}

#balance{
    filter: drop-shadow(3px 3px 3px black);
    margin-top:25px;
}

#title{
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgb(150, 62, 0);
    padding-top: 20px;
    font-weight: bold;
    color:rgb(182, 0, 0);
    -webkit-text-stroke: 1px rgb(117, 0, 0);
    font-family: georgia;
}


#cont{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    border: none;
    height: 123px;
    background-color: #FFFAFA;
    border: 3px solid rgb(163, 163, 163);
    box-shadow:0 4px 7px rgba(0, 0, 0, 0.755);
    margin-top: 15px;
}

#pfp{
    margin-bottom: 5px;
}

#inregistrare{
    background-color: rgb(40, 40, 138);
    font-size: 12px;
    padding-inline: 10px ;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 5px;

}

#inregistrare:hover{
    color:rgb(124, 136, 172);
    background-color: lightgray;
    text-decoration: none;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.371);
}

#inregistrare:focus{
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    color:rgba(84, 91, 119, 0.621);
    box-shadow:0 0 5px rgba(0, 0, 0, 0.374);
}

#main{
    background-color: #FFFAFA;
    height: auto;
    margin: 30px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.317);
    background-image: linear-gradient(to bottom right, white, rgb(199, 199, 199));
}

.bara{
    color:lightgray;
    display: flex;
    justify-content: center;
    height: 80px;
    background-image: linear-gradient(to bottom,rgb(57, 57, 146),rgb(17, 16, 75));
    border-radius: 4px;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.679);
}

#tit{
    text-align: center;
    line-height: 80px;
}

#legi{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.lege{
    font-size: 20px;
    background-image: linear-gradient(to bottom,white,rgb(230, 230, 230));
    margin: 0px;
    min-height: 100px;
    max-height: 600px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.597);
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    color: black;
}

.lege:hover{
    text-decoration: underline;
    background-image: none;
    background-color: rgb(219, 218, 218);
}

.lege a{
    color: black;
    text-decoration: none;
}

#more{
    font-size: 30px;
    background-color: rgb(17, 16, 75);
    width: 5.1em;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 40px;
    box-shadow:0 5px 10px rgb(0, 0, 0);
    margin-bottom: 25px;
}

#more:hover{
    color:rgb(124, 136, 172);
    background-color: lightgray;
    text-decoration: none;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.801);
}

#more:focus{
    cursor: pointer;
    background-color: rgb(179, 179, 179);
    color:rgba(84, 91, 119, 0.621);
    box-shadow:0 0 15px rgba(0, 0, 0, 0.681);
}

/*for different sizes:*/
@media screen and (max-width:800px){
    .lege{
        grid-column: span 2
    }
}

