argon2-cffi            
argon2-cffi-bindings   
autopep8               
bcrypt                 
blinker                
cachelib               
certifi                
cffi                   
charset-normalizer     
click                  
colorama               
dnspython              
docopt                 
email-validator        
et-xmlfile             
Flask                  
Flask-Bcrypt           
Flask-Mail             
Flask-Session          
Flask-SQLAlchemy       
Flask-WTF              
greenlet               
idna                   
itsdangerous           
Jinja2                 
MarkupSafe             
mysql-connector        
mysql-connector-python 
numpy                  
openpyxl               
pandas                 
phonenumbers           
pip                    
pipreqs                
protobuf               
pycodestyle            
pycparser              
PyJWT                  
PyPDF2                 
python-dateutil        
pytz                   
requests               
setuptools             
six                    
SQLAlchemy             
tomli                  
twilio                 
urllib3                
Werkzeug               
WTForms                
yarg                   
