{% extends "layout.html" %}


{% block head %}
    <link href="{{ url_for('static', filename='account.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}

    <div id="main">
        
        <div id="container">
            <h1>Informatii Personale</h1>

            <form action="account" method="post" id="form">
                
                <label for="username">Nume utilizator</label>
                <input type="text" name="user" id="" class="input" value="{{ session.get('username') }}" minlength="3" maxlength="25" required>

                <label for="email">Email</label>
                <input type="text" name="email" value="{{ session.get('email') }}" id="" class="input" required>

                <button type="submit" id="update">Actualizati</button>
            </form>

            <div id="links">
                {% if verified == "False" %}
                    <a href="{{ url_for('email_verification', email = email) }}">Verificare Email</a>
                {% endif %}
                <a href="{{ url_for('reseteaza_parola') }}">Reseteaza Parola</a>
                <a href="{{ url_for('logout') }}">Iesire</a>
            </div>
        </div>    
    </div>    
{% endblock content %}
