<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
     <label for="titlu">Titlu: </label>
     <input type="text" name="titlu" id=""><br>

     <label for="pro_l1">Voturi pro lectura 1: </label>
     <input type="number" name="pro_l1" id=""> <br>
     <label for="contra_l1">Voturi contra lectura 1: </label>
     <input type="number" name="contra_l1" id=""> <br>
     <label for="neu_l1">Voturi neutre lectura 1: </label>
     <input type="number" name="neu_l1" id=""> <br>

     <label for="pro_l2">Voturi pro lectura 2: </label>
     <input type="number" name="pro_l2" id=""> <br>
     <label for="contra_l2">Voturi contra lectura 2: </label>
     <input type="number" name="contra_l2" id=""> <br>
     <label for="neu_l2">Voturi neutre lectura 2: </label>
     <input type="number" name="neu_l2" id=""> <br>
     <button type="submit">Trimite</button>
    </form>
</body>
</html>