


{% block head %}
    <link href="{{ url_for('static', filename='email_verification.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
    <div id="all">  
        <div id="main" class="main">
            <h1 >Verificare Email</h1>
            <p id="text">Pe adresa de email <span>{{email}}</span> am trimis un cod de 6 cifre. Inserati-l in campul rezervat pentru a verifica email-ul!</p>
            <form action="{{url_for('email_verification')}}" method="post">
                <label for="otp">Codul de 6 cifre: </label>
                <div id="subMain">
                    <input type="text" name="otp" id="otp" placeholder="123456" maxlength="6">
                    <button type="submit" id="button">Verifica</button>
                </div>
            </form>
            <p id="text2">Nu ati primit codul? <a href="url_for('email_verification')" id="retrimite">Re-trimite</a></p>
            
        </div>
    </div>  
{% endblock content %}
