{% extends "layout.html" %}


{% block head %}
    <link href="{{ url_for('static', filename='errorpage.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
    <div id="h1">
        <h1>Aceasta pagina nu este disponibila</h1>
    </div>
    <div id="error_msg">
        <p>S-ar putea ca linkul sa fie invalid sau pagina sa fi fost stearsa! Veridicati linkul si incercati din nou..</p>
    </div>
    <div id="link">
        <a href="{{url_for('acasa')}}">Inapoi</a>
    </div>
{% endblock content %}
