
{% block head %}    
<link href="{{ url_for('static', filename='forgot_password.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
<div id="main">
    <div id="container">
        <a href="{{ url_for('acasa') }}"><img src="{{url_for('static',filename='logoNouPPBlack.png')}}" id="logo"></a>
        <h1>Ai uitat parola?</h1>
        <form action="" method="post"id="form">
            <label for="email" class="label">Introdu email-ul tau</label>
            <input type="email" name="email" id="" class="input">
            <button type="submit" id="next">Trimite</button>
        </form>
        <a href="{{ url_for('autentificare') }}" id="inapoi">Inapoi</a>
    </div>
</div>    
{% endblock content %}