<!--Prima functie face ca sa conecteze layout.html cu index.html-->

{% extends "layout.html" %}

<!--"block head" si "block content" vor lua locul la blocurile libere cu acelasi din layout.html-->

{% block head %}
    <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
    
  
    <div id="main">
        <h2 id="tit">Proiecte de legi</h2>
        
            <!-- For loop logic of jinja template -->
        <div id="legi">
            {%for i in range(len-1, len-7, -1)%}
                {%if i % 2 == b  %}
                    <div>
                {%endif%}
                <div class="lege">
                    <a href="{{url_for('legi_recente',titlu=titles[i][0])}}"><p>{{titles[i][0]}}</p></a>
                </div>
                
                {%if i % 2 == c%}
                    </div>
                {%endif%}
            {%endfor%}
        </div>
        <div id="divMore">                 
            <a href="{{ url_for('legi_recente',user=user) }} "id="more">Mai multe </a>
        </div>
    </div>                                  
        
{% endblock content %}

