<!--Prima functie face ca sa conecteze layout.html cu index.html-->

{% extends "layout.html" %}

<!--"block head" si "block content" vor lua locul la blocurile libere cu acelasi din layout.html-->

{% block head %}
    <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
    <hr>
    <div id="logo">
        <div id="abc">
            <img id="balance" src="{{url_for('static',filename='logo.png')}}" alt="..." width="120px" height="120px">
            <h1 id="title">Parlamentul Poporului</h1>
        </div>
        <div id="cont">
            <div id="pfp">
                <img src="{{url_for('static',filename='default-avatar.png')}}" width="100px">
            </div>
            <div>
                    
                    {%if session.username  %}
                        <a href="{{ url_for('reseteaza_parola') }}">{{session.username}}</a>
                    {%else%}
                        <a href="{{ url_for('inregistrare') }}"id="inregistrare">Înregistrare</a>
                    {%endif%}
                
            </div>
        </div>
        
    </div>
    
    <div id="main">
        <div class="bara">
            <h2 id="tit">Proiecte de legi </h2>
        </div>
            
                <!-- For loop logic of jinja template -->

                {%for i in range(len-1, len-7, -1)%}

                         

                        {%if i % 2 == b  %}
                           <div id="legi">
                        {%endif%}
                        <div class="lege">
                            <a href=""><p>{{a[i][0]}}</p></a>
                        </div>
                        {%if i % 2 == c%}
                           </div>
                        {%endif%}
                    

                {%endfor%}

                <button><a href="{{ url_for('legi_recente') }}">Mai multe </a></button>

                  
            
        
{% endblock content %}

