{% extends "layout.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout_lege.css') }}" >
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Pro: 11',     11],
          ['Contra: 2',      2],
          ['Neutri: 4',  4],
        ]);

        var options = {
          title: 'Lectura 1',
          titleTextStyle: {
                fontSize: 30,
                bold: true,
            },
        
          colors: ['#00e500', 'red', 'blue'],
          legend: {
                textStyle: {
                    fontSize: 16,
                    }
          },
          width: 320,
          height: 300,
          chartArea: {
            top: 10,
            bottom: 10,
            left: 10,
            right: 10,
        },
            
        
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
  
          var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Pro: 19',     19],
            ['Contra: 10',      10],
            ['Neutri: 3',  3],
          ]);
  
          var options = {
          title: 'Lectura 2',
          titleTextStyle: {
                fontSize: 30,
                bold: true,
            },
        
          colors: ['#00e500', 'red', 'blue'],
          legend: {
                textStyle: {
                    fontSize: 16,
                    }
          },
          width: 320,
          height: 300,
          chartArea: {
            top: 10,
            bottom: 10,
            left: 10,
            right: 10,
        },
        };
  
          var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
  
          chart.draw(data, options);
        }
      </script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
  
          var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Pro: 24',     24],
            ['Contra: 16',      16],
            ['Neutri: 8',  8],
          ]);
  
          var options = {
          title: 'Lectura 1',
          titleTextStyle: {
                fontSize: 30,
                bold: true,
            },
        
          colors: ['#00e500', 'red', 'blue'],
          legend: {
                textStyle: {
                    fontSize: 16,
                    }
          },
          width: 320,
          height: 300,
          chartArea: {
            top: 10,
            bottom: 10,
            left: 10,
            right: 10,
        },
        };
  
          var chart = new google.visualization.PieChart(document.getElementById('piechart3'));
  
          chart.draw(data, options);
        }
      </script>
{% endblock head %}

{% block content %}

    <div id="all">

        <h1 id="title">Lege</h1>

        <div id="main">
            <div id="video">
                <iframe width="460" height="260" src="https://www.youtube.com/embed/JAoHXelq2-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div id="descriere">{{titlu}}</div>
        </div>

        <div id="voturiTitleContainer">
            <div id="voturiTitle">Voturi</div>
            <div class="line"></div>
        </div>    
            
        <div id="voturiContainer">
            <div class="piechartLabel">Lectura 1</div>
            <div class="piechartLabel">Lectura 2</div>
            <div class="piechartLabel">Votul Poporului</div>
            <div id="piechart1" class="piechart" ></div>
            <div id="piechart2" class="piechart" ></div>
            <div id="piechart3" class="piechart" ></div>
        </div>  
  
      

        {%if session.get('username')!=None and ok==True %} 
            <div>
                <form action="" method="post" id="form1" onclick="return vot()">

                    <button id="pro1" class="buttonVote" onclick="val('pro')"><a href="{{url_for('pro')}}">Pro</a></button>
                    <button id="contra1" class="buttonVote" onclick="val('contra')"><a href="{{url_for('contra')}}">Con</a></button>
                    <button id="neutru1" class="buttonVote" onclick="val('nuetru')"><a href="{{url_for('neutru')}}">Neu</a></button>

                </form>
                <script>
                    a=''
                    function val(b){
                        a=b
                        
                    }
                    function vot(){

                        let text = "Esti sigur de alegerea ta\n Ai vot "+a;
                        if (confirm(text) == true) {
                            document.getElementById("form1").submit();
                        }else{
                            
                            return false
                        }
                    }
                </script>
            </div>

        {%endif%}

        {%if session.get('username')== None %}
            <div>
                <a href="{{url_for('autentificare')}}"><button id="voteaza">Voteaza</button></a>
            </div>
        {%endif%}
    </div>

{% endblock content %}

