{% extends "layout.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout_lege.css') }}" >
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock head %}

{% block content %}

    <div id="all">
        <h1 id="title">Lege</h1>
        <div id="main">
            <div id="video"></div>
            <div id="descriere">{{titlu}}</div>
        </div>
            
        <div id="voturi">

            <div id="votLectura1"> 
                <div id="piechart"></div>
            </div>
            <div id="votLectura2"></div>
            <div id="votPopor"></div>




            <!--<div id="pcn">
                <strong>Voturi:</strong>
                <div id="lect1">
                    <strong id="pro">Pro lectura 1:  <span id="proNumber">{{pro_lect1}}</span></strong>
                    <strong id="contra">Contra lectura 1:  <span id="contraNumber">{{con_lect1}}</span></strong>
                    <strong id="neutre">Neutre lectura 1:  <span id="neutruNumber">{{neu_lect1}}</span></strong>
                </div>

                <div id="lect2">
                    <strong id="pro">Pro lectura 2:  <span id="proNumber">{{pro_lect2}}</span></strong>
                    <strong id="contra">Contra lectura 2:  <span id="contraNumber">{{con_lect2}}</span></strong>
                    <strong id="neutre">Neutre lectura 2:  <span id="neutruNumber">{{neu_lect2}}</span></strong>
                </div>
                
            </div>    
            
            <div class="pieChart"></div>-->

        </div>  
  
      

        {%if session.get('username')!=None and ok==True %} 
            <div>
                <form action="" method="post" id="form1" onclick="return vot()">

                    <button id="pro1" onclick="val('pro')"><a href="{{url_for('pro')}}">Pro</a></button>
                    <button id="contra1" onclick="val('contra')"><a href="{{url_for('contra')}}">Contra</a></button>
                    <button id="neutru1" onclick="val('nuetru')"><a href="{{url_for('neutru')}}">Neutru</a></button>

                </form>
                <script>
                    a=''
                    function val(b){
                        a=b
                        
                    }
                    function vot(){

                        let text = "Esti sigur de alegerea ta\n Ai vot "+a;
                        if (confirm(text) == true) {
                            document.getElementById("form1").submit();
                        }else{
                            
                            return false
                        }
                    }
                </script>
            </div>

        {%endif%}

        {%if session.get('username')== None %}
            <div>
                <button id=""><a href="{{url_for('autentificare')}}">Voteaza</a></button>
            </div>
        {%endif%}
    </div>
    <script>
        
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Pro: 9',     9],
            ['Contra: 5',      5],
            ['Neutri: 20',  20],
        ]);

        var options = {
            title: 'Voturi lectura 1 ',
            titleTextStyle: {
                fontSize: 50,
                color: '#000',
                bold: true,
                italic: false,
                alignment: 'center'
            },
            colors: ['#24d600', 'red', 'blue'],
            chartArea: {width: '50%', height: '50%', top: 0, right: 0},
            border: {width:1, color:'black'},
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
        }
    </script>

{% endblock content %}