{% extends "layout.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lege_layout.css') }}" >
{% endblock head %}

{% block content %}

    <div id="all">
        <div id="title">
            <h1>{{titlu}}</h1>
        </div>

        <div id="main">
            <div>

                <div id="text">
                    <p>{{descriere}}</p>
                </div>

                <div id="username">
                    <a href=""><p>@{{username}}</p></a>
                </div>
                
                <div id="data">
                    <p>{{data}}</p>
                </div>

                
            </div>
            <div id="voturi">
                <p id="pro">Voturi pro: {{pro}}</p>
                <p id="contra">Voturi contra: {{contra}}</p>
                <p id="neutre">Voturi neutre: {{neutru}}</p>
            </div>    
        </div>

        <button class="button" id="button">Voteaza</button>

    </div>

    <!--Modal section!-->

    <div class="modal">
        <div class="modal-content">
            <div class="close">+</div>
            <h1>Voteaza acum</h1>
            <hr style="height: 1px; margin-left: -10px; margin-top: -5px;">
            <form action="">
                <label for="phone">
                    Va rog introduceti numarul dvs de telefon:
                </label><br>
                <input type="tel" name="phone" id="phone" pattern="[0-9]{9}" required><br> 
                <button type="submit" class="button">Trimite</button> 
            </form>
        </div>
    </div>

    <script>
        document.getElementById('button').addEventListener('click', function() {
            document.querySelector('.modal').style.display = 'flex';
        });

        document.querySelector('.close').addEventListener('click', function() {
            document.querySelector('.modal').style.display = 'none';
        });
    </script>

{% endblock content %}