{% extends "layout.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='legi_propuse.css') }}" >
{% endblock head %}


{% block content %}
    <div id="flex">
        <div id="tit">
            <h1>Legi propuse</h1>
        </div>

        
        <a href="{{url_for('propune_legi')}}" id="propune">Propune o lege</a>
        
    </div>
    <div id="legi">
        <div class="lege">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, mollitia rem necessitatibus aliquid voluptatum minima nobis exercitationem debitis voluptas ratione.</div>
        <div class="lege">a doua lege</div>
        <div class="lege">a treia lege</div>
        <div class="lege">a patra lege</div>
        <div class="lege">a cincea lege</div>
        <div class="lege">a sasea lege</div>
        <div class="lege">a saptea lege</div>
        <div class="lege">a opta lege</div>
        <div class="lege">a noua lege</div>
        <div class="lege">a zecea lege</div>
    </div>
{% endblock content %} 