{% extends "layout.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='legi_recente.css') }}" >
{% endblock head %}

{% block content %}

     
    {%for i in range(len-1, -1, -1)%}
        {%if i % 2 == b  %}
        <div class="legi">
        {%endif%}
        <div class="lege">
            <a href=""><p>{{a[i][0]}}</p></a>
        </div>
        {%if i % 2 == c%}
            </div>
        {%endif%}


    {%endfor%}




{% endblock content %}