{% extends "layout.html" %}


{% block head %}    
    <link href="{{ url_for('static', filename='login.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
    <form action="" method="post">
        <label for="user">Nume utilizator</label><br>
        <input type="text" name="user" id=""><br>
        <label for="password">Parola</label><br>
        <input type="password" name="password" id=""><br>
        <button type="submit">Autentificare</button>
    </form>
    <div>
        {{e}}
    </div>
{% endblock content %}