{% extends "layout.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='register.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}

{% block content %}
<div id="main">
    <div id="container">
        <h1>Inregistrare</h1>
        <form action="" method="post" id="form">
        
            <label for="user" class="label">Nume de utilizator</label>
            <input type="text" name="user" id="" class="input" minlength="3" maxlength="25">
            <label for="email" class="label">Email</label>
            <input type="email" name="email" id=""class="input">
            <label for="password" class="label">Parola</label>
            <input type="password" name="password" id="" class="input" minlength="8">
            <label for="pass_conf" class="label">Confirmare parola</label>
            <input type="password" name="pass_conf" id="" class="input">
            <button type="submit" id="inregistreazate">Inregistreaza-te</button>
        
        </form>
       
        <span id="autentificare">Ai cont deja?<a href="{{ url_for('autentificare') }}" id="autentificate">Autentifica-te</a> </span>

    </div>
</div>
<div>{{e}}</div>
{% endblock content %}
