{% extends "layout.html" %}


{% block head %}
    <link href="{{ url_for('static', filename='reseteazaparola.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
        <form action="" method="post">
            <label for="password">Parola Veche</label>
            <input type="password" name="password" id=""><br>
            <label for="new_pass">Parola noua</label>
            <input type="password" name="new_pass" id=""><br>
            <label for="conf_pass">Confirmare parola</label>
            <input type="password" name="conf_pass" id=""><br>
            <button type="submit">Confirmare</button>
        </form>
        <a href="{{ url_for('logout') }}">Iesire</a>
        <div>
            {{e}}
        </div>
{% endblock content %}