<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ParlamentulPoporului</title>
        <link href="../static/adaugaProiect.css" rel="stylesheet">
        <script src="script.js" defer></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div id="top">    
            <nav id="nav">
                <a href="index.html"><i class="material-icons" >home</i></a>
                <div>
                    <input type="text"
                    placeholder="Cautare..."
                    id="cautare">
                    <i class="material-icons">search</i>
                </div>    
                <a href="" id="legiInDiscutie">Legi in discutie</a>
                <a href="" id="legiN">Legi Nationale</a>
                <a href="" id="LegiL">Evenimente Locale</a>
                <a href="form.html" id="">Inregistrare</a>
            </nav>
            <div id="limba">
                <button id="romana">RO</button>
                <button id="engleza">EN</button>
                <button id="rusa" >RU</button>
                
            </div>
        </div>    

        <hr>
        <div id="main">
            <h1>Adauga Proiect Propriu</h1>
            <div>
                <textarea name="Proiect" id="text" cols="60" rows="10"></textarea>
            </div>

         
            <button id="ilie">
                Adauga un Video

            </button>


            <div >
                <button type="submit" id="submit">Trimite</button>
            </div>
        </div>   
</body>
</html>