{% extends "layout.html" %}

{% block head %}
    <title>UniteMoldova</title>
    <link href="{{ url_for('static', filename='form.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}

{% block content %}
    <hr>   
    <div id="registrare">
    
    <form id="inregistrare">

        <h1>Înregistrare</h1>

        <label for="fname">Nume de Utilizator</label>
        
        <input class="input" type="text" id="fname" name="fname"><br>
        
  
        <label for="fname">Telefon</label>
        
        <input class="input" type="text" id="tel" name="fname"><br>
        
        <label for="lname">Parola</label>
        
        <input class="input" type="password" id="pass" name="lname"><br>
        
        <label for="lname">Confirma Parola</label>
        
        <input class="input" type="password" id="confirmPass" name="lname"><br>
      

        <label>Poza de profil</label>

        <input type="file" class="file" name="file"accept="image/png, image/jpeg" >

        <label for="file" class="label">
            <span class="material-icons">photo_file</span>
            <p>Selecteaza o poza</p>
        </label>

        <button type="submit" id="inreg_btn" onclick="inregistrare()">Submit</button>
        
        </form>
    </div>
{% endblock content %}
