<!--Prima functie face ca sa conecteze layout.html cu index.html-->

{% extends "layout.html" %}

<!--"block head" si "block content" vor lua locul la blocurile libere cu acelasi din layout.html-->

{% block head %}
    <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet">
{% endblock head %}


{% block content %}
    <hr>
    <div id="logo">
        <div id="abc">
            <img id="balance" src="{{url_for('static',filename='logo.png')}}" alt="..." width="120px" height="120px">
            <h1 id="title">Parlamentul Poporului</h1>
        </div>
        <div id="cont">
            <div id="pfp">
                <img src="{{url_for('static',filename='default-avatar.png')}}" width="100px">
            </div>
            <div>
                <a href="{{ url_for('inregistrare') }}"id="inregistrare">Înregistrare</a>
            </div>
        </div>
        
    </div>
    
    <div id="main">
        <div class="bara">
            <h2 id="tit">Proiecte de legi </h2>
        </div>
        <div class="legi">
            <div class="lege">
                <a href="{{url_for('lege1')}}"><p>Proiectul de lege cu privire prevenirea pierderii si risipei alimentare.</p></a>
            </div>
            <div class="lege">
                <a href=""><p>Proiectul de lege pentru aderarea Republicii Moldova la Convenția poștală universală și Protocolul ei final, întocmite la Abidjan la 26 august 2021
                </p></a>
            </div>
        </div>
        <div class="legi">
            <div class="lege">
                <a href=""><p>Proiectul de lege pentru aderarea Republicii Moldova la cel de al 11-lea Protocol adițional la Constituția Uniunii Poștale Universale, întocmit la Abidjan la 26 august 2021
                </p></a>
            </div>
            <div class="lege">
                <a href=""><p>Proiectul de lege pentru ratificarea Acordului de grant dintre Republica Moldova și Banca Europeană de Investiții în vederea realizării Proiectului ,,Eficiența energetică în Republica Moldova”
                </p></a>
            </div>
        </div>
        <div class="more">
            <button>Mai multe legi...</button>
        </div>
    </div>
{% endblock content %}

