<!--layout.html am facut pentru a automa si a nu a repeta codul de multe ori-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!--Mai jos functia aia este inlocuita de codul din alte html files.-->
        <!--"head" reprezinta numele blocului de cod--> 

        {% block head %}
        {% endblock head %}

        <script src="script.js" defer></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div id="top">    
            <nav id="nav">
                <a href="{{ url_for('acasa') }}"><i class="material-icons" >home</i></a>
                <div>
                    <input type="text"
                    placeholder="Cautare..."
                    id="cautare">
                    <i class="material-icons">search</i>
                </div>    
                <a href="" id="legiInDiscutie">Legi in discutie</a>
                <a href="" id="legiN">Legi Nationale</a>
                <a href="" id="LegiL">Evenimente Locale</a>
                <a href="{{url_for('inregistrare')}}" id="">Inregistrare</a>
            </nav>
            
            <div id="limba">
                <button id="romana">RO</button>
                <button id="engleza">EN</button>
                <button id="rusa" >RU</button>
                
            </div>
        </div>    

        {% block content %}
        {% endblock content %}

    </body>
</html>
    