<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ParlamentulPoporului</title>
        <link href="../static/lege1.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="script1.js"></script>
    </head>
    <body>
        <div id="top">    
            <nav id="nav">
                <a href="index.html"><i class="material-icons" >home</i></a>
                <div>
                    <input type="text"
                    placeholder="Cautare..."
                    id="cautare">
                    <i class="material-icons">search</i>
                </div>    
                <a href="" id="legiInDiscutie">Legi in discutie</a>
                <a href="" id="legiN">Legi Nationale</a>
                <a href="" id="LegiL">Evenimente Locale</a>
                <a href="form.html" id="">Inregistrare</a>
            </nav>
            <div id="limba">
                <button id="romana">RO</button>
                <button id="engleza">EN</button>
                <button id="rusa" >RU</button>
            </div >
            
        </div>
        <hr>

        
        <div id="main">

            <h1>Proiectul de lege cu privire prevenirea pierderii si risipei alimentare.</h1>       
            <div id="all">
                <div class="grid">
                    <div class="lectura">
                        Lectura 1 Parlament
                    </div>
                    <div class="statistici">
                        <div class="green">
                            11
                        </div>
                        <div class="red">
                            22
                        </div>
                        <div class="blue">
                            32
                        </div>
                    </div>

                    <div class="lectura">
                        Lectura 2 Parlament
                    </div>
                    <div class="statistici">
                        <div class="green">
                            12 
                        </div>
                        <div class="red">
                            22
                        </div>
                        <div class="blue">
                            32
                        </div>
                    </div>

                    <div class="lectura">
                        Votul Poporului
                    </div>
                    <div class="statistici">
                        <div class="green">
                            13
                        </div>
                        <div class="red">
                            23
                        </div>
                        <div class="blue">
                            33
                        </div>
                    </div>
                    
                </div>
                <div >
                    <video id="notgrid"width="250px" >
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/nQVO7qnNEmQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </video>
                </div>
            </div>
            <div id="vot">Voteaza:</div>

            <div id="voteaza">
        
                <div class="pro">
                    pro
                </div>
                <div class="contra">
                    con
                </div>
                <div class="neutru">
                    neu
                </div>

            </div>

        </div>    
    </body>
</html>